@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 200;
  src: url("$fonts/Roboto-Light.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 300;
  src: url("$fonts/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}
